* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
}
ul {
    list-style-type: none;
}
span {
    font-weight: bold;
}
.red {
    margin-top: 30px;
    color: red;
}
.span {
    color: rgb(182, 3, 3);
}
.right {
    h3 {
        margin-bottom: 10px;
    }  
}
.right h3:nth-of-type(2),
.right h3:nth-of-type(3) {
    margin-top: 10px;
}

form {
    textarea,
    input {
        width: 100%;
    }
    input[type="submit"] {
        margin-top: 10px;
        width: 15%;
    }
}

@media all and (max-width: 992px) {
    .col-lg-6.right {
        margin-top: 7px!important;
    }
    .right {
        h3 {
            margin: 0!important;
        }
    }
}
